ul.scrollable {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 10px;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 80vh;
    padding: 10px;
    border: 1px solid;
}